{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h5 class="text-center">Site réalisé par Christophe Decroos,
							Bachelier en Informatique de Gestion, diplômé à la HELHa-Mons</h5>
                            <br />
        <h5 class="text-center font-weight-bold"><u>Identifiants pour se connecter :</u></h5>
        <h6 class="text-center"><u class="font-weight-bold">Admin</u>:  admin@outlooktest.com  ,  Az+1111111</h6>
        <h6 class="text-center"><u class="font-weight-bold">User</u>:  user@outlooktest.com  ,  Az+1111111</h6>
	</div>
{% endblock %}
